.reproductor{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 300px;
        margin-bottom: 20px;
    }
    audio{
        height: 40px;
        margin-bottom: 20px;
    }
    h2{
        font-size: 35px;
        font-family: "Oswald", sans-serif;
    }
    p{
        padding: 20px;
        text-align: justify;
    }
    .leyenda{
        min-height: 70px; 
        span{
            i{
                font-size: 45px;
            }
        }
    }
   .lista{
        .temas{
            a{
                width: 90vw;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-bottom: 2px solid;
                text-decoration: none;
                color: black;
                img{
                    width: 50px;
                }
                .nombre{
                    position: relative;
                    right: -20px;
                }
                
            }
            
        }
    }
}